:root{
    --font: 'Poppins', sans-serif;
    --color1: #8153ff; 
    --color2: #ff6b58;
    --color3: #6f3bff;
    --color4: rgba(47, 0, 255, 0.302);
    --color5: #45C4B0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #20153f;
    height: 100vh;
    width: 100vw;
}

.todo-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 450px;
    border-radius: 15px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 10px 5px 30px 20px rgba(0, 0, 0, 0.040);
}

.todo-container label{
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
    text-align: center;
}

.input{
    height: 50px;
    width: 100%;
    padding: 0 10px;
    font-size: 0.9rem;
    border-radius: 10px;
    border: 2px solid #555555;
    outline: none;
    transition: border-color .5s ease-in-out;
}

.input:focus{
    border-color: var(--color1);
}

.todo-container > button, .modal > div button{
    height: 50px;
    width: 100%;
    background-color: var(--color1);
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color .5s ease-in-out;
}

.todo-container > button:hover, .modal > div button:hover{
    background-color: var(--color3);
}

.todo-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 250px;
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.todo-list::-webkit-scrollbar{
    width: 10px;
}

.todo-list::-webkit-scrollbar-thumb{
    background-color: var(--color4);
    border-radius: 10px;
}


.todo-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-right: 5px;
    padding: 14px;
    background-color: var(--color2);
    color: #fff;font-size: 1rem;
    border-radius: 10px;
    line-break: loose;
    cursor: pointer;
}

.todo-item > p{
    flex-grow: 1;
    text-overflow: ellipsis;
    white-space: nowwrap;
    overflow: hidden;
}

.todo-item div{
    display: flex;
    gap: 10px;
}

.todo-item button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    min-width: 45px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
}

.todo-item > button {
    border: none;
}

.complete-item {
    background-color: var(--color5);
}

.edit-item, .delete-item, .status-item{
    font-size: 1.3rem;
    color: #fff;
}

.modal{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
}

.modal h2{
    font-weight: 500;
}

.modal > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.modal > div button{
    margin-top: 25px;
}

.modal > div label{
    font-weight: 500;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 500px) {
    .todo-container{
        width: calc(100% - 20px);
        margin: 0 10px;
        padding: 20px;
    }

    .todo-item > button{
        display: none;
    }

    .todo-item p {
        font-size: .9rem;
    }

    .modal{
        width: 300px;
    }
}